body{
    margin: 0px;
}
.a
{
    margin-top: 60px;
    width: 80px;
    height :70px;
    float: right;
    padding-bottom: 80px;
    padding-right: 20px;
}
img
{
    height: 100px;
    width: 150px;
}
h1{
    padding-left:20px;
}
.container{
    margin: 0px;
    background-color:rgb(206,206,206);
    border-top: 0.5px #ccc solid;
    border-bottom: 0.5px #ccc solid;
    padding-left:20px ;
}
.first{
    font-size: 150%;
    margin-top:15px;
    margin-bottom:15px;
}
.email-box{
    margin:20px;
    width:48%;
    padding:20px 30px 20px;
    border: 1px solid black;
    border-radius:10px;
    background-color: #e8e5d8;
    box-shadow: 4px 4px 3px rgba(0,0,0,0.15);
}
.email-input{
    padding-left: 10px;
}
.email-button{
    margin-top: 15px;
    margin-left: 20px;
    padding: 8px 25px 8px;
    background-color: rgb(72, 83,208);
    border-radius: 5px;
    color:white;
    font-weight: 600;
    border: 1px #999 solid;
    cursor: pointer;
}
.email-box button:hover{
    background-color: white;
    color: rgb(72, 83, 208);
}
