/* Instructions after Forgot password */

body{
    margin:0px;
}
.heading{
    padding-left: 20px;
}
.instructions{
    background-color: #f6f4f2;
    padding: 20px 25px 30px;
    border-top: 0.5px #ccc solid;
    border-bottom: 0.5px #ccc solid;
    font-size: 150%;
}
.report{
    width:70%;
    margin-top: 15px;
    margin-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    color: #d00;
    border: solid 1px #d00;
    border-radius: 6px;
    font-size: 110%;
    font-weight: 600;
}